# Logs
logs
.*_history
*.log

# Runtime data
pids
*.pid
*.seed

# Test
lib-cov
coverage
.grunt
.lock-wscript
.nyc_output

# Compile
build/Release

# Dependencies
node_modules
.package.json
package-lock.json
